@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    overflow: hidden;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4169E1;
    color: white;
    height: 10%;
}

.logo {
    display: flex;
}

.logo i {
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
}

.logo h1 {
    cursor: pointer;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
    padding: 15px;
    transition: all 0.3s;
}

.menu a {
    cursor: pointer;
}

.menu i {
    font-size: 20px;
    display: none;
    cursor: pointer;
}

.hamberger {
    display: none;
    height: 90%;
    background: rgba(65, 105, 225, 0.7);
    position: absolute;
    right: 0;
    padding: 0 50px;
}

.hamberger-menu {
    display: flex;
    color: white;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
}

.active {
    display: block;
}


@media screen and (max-width:480px) {
    .menu {
        width: 10%;
        justify-content: end;
    }
    
    .menu a{
        display: none;
    }
    
    .menu i {
        color: white;
        display: block;
    }
}