@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4169E1;
    color: white;
    height: 10vh;
}

.logo {
    display: flex;
}

.logo i {
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
}

.logo h1 {
    cursor: pointer;
}

.menu {
    width: 50%;
}

.menu i {
    font-size: 20px;
    display: none;
    cursor: pointer;
}

.text {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 15px;
    transition: all 0.5s;
}

.text a {
    cursor: pointer;
}

.active {
    transform: translateX(0%) !important;
}


@media screen and (max-width:414px) {
    body {
        overflow-x: hidden;
    }

    .menu i{
        display: flex;
        justify-content: end;
        margin-right: 25px;
    }

    .text {
        position: absolute;
        right: 0;
        height: 90vh;
        top: 10vh;
        background: #4169E1;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
    }
}